[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "encode_decode_vbm"
version = "0.1.0"
authors = [{ name = "Vidak-Becs Mate", email = "matevidakbecs@gmail.com" }]
description = "encoding and decoding library for python"
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.urls]

"Homepage" = "https://github.com/mate12392/encode_decode_py"
