p:last-child {
  margin-bottom: 0;
}

dt {
  font-weight: 600;
}

dl {
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
}

dl.glossary {
  padding: 0;
}

li::marker {
  font-weight: bold;
}

// == CODE ==

pre,
code {
  tab-size: 2;
}

pre {
  font-size: 0.8em;
}

pre.console {
  background: var(--bs-dark);
  color: var(--bs-light);
}

pre.console .cmd {
  color: var(--bs-yellow);
}

pre.console .comment {
  color: var(--bs-gray-600);
}

.code-block-caption {
  color: var(--specs-caption-color);
  font-size: var(--specs-text-small);
  font-style: italic;
}

.code-block-caption + div > .highlight {
  margin-top: 0;
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85rem;
  font-weight: 500;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

pre {
  white-space: break-spaces;
}
